[submodule "Atari - Lynx"]
	path = Atari - Lynx
	url = https://github.com/libretro-thumbnails/Atari_-_Lynx.git
[submodule "Hartung - Game Master"]
	path = Hartung - Game Master
	url = https://github.com/libretro-thumbnails/Hartung_-_Game_Master.git
[submodule "Handheld Electronic Game"]
	path = Handheld Electronic Game
	url = https://github.com/libretro-thumbnails/Handheld_Electronic_Game.git
[submodule "GamePark - GP32"]
	path = GamePark - GP32
	url = https://github.com/libretro-thumbnails/GamePark_-_GP32.git
[submodule "GCE - Vectrex"]
	path = GCE - Vectrex
	url = https://github.com/libretro-thumbnails/GCE_-_Vectrex.git
[submodule "Funtech - Super Acan"]
	path = Funtech - Super Acan
	url = https://github.com/libretro-thumbnails/Funtech_-_Super_Acan.git
[submodule "Fairchild - Channel F"]
	path = Fairchild - Channel F
	url = https://github.com/libretro-thumbnails/Fairchild_-_Channel_F.git
[submodule "FB Alpha - Arcade Games"]
	path = FB Alpha - Arcade Games
	url = https://github.com/libretro-thumbnails/FB_Alpha_-_Arcade_Games.git
[submodule "Epoch - Super Cassette Vision"]
	path = Epoch - Super Cassette Vision
	url = https://github.com/libretro-thumbnails/Epoch_-_Super_Cassette_Vision.git
[submodule "Entex - Adventure Vision"]
	path = Entex - Adventure Vision
	url = https://github.com/libretro-thumbnails/Entex_-_Adventure_Vision.git
[submodule "Emerson - Arcadia 2001"]
	path = Emerson - Arcadia 2001
	url = https://github.com/libretro-thumbnails/Emerson_-_Arcadia_2001.git
[submodule "Dinothawr"]
	path = Dinothawr
	url = https://github.com/libretro-thumbnails/Dinothawr.git
[submodule "DOS"]
	path = DOS
	url = https://github.com/libretro-thumbnails/DOS.git
[submodule "DOOM"]
	path = DOOM
	url = https://github.com/libretro-thumbnails/DOOM.git
[submodule "Commodore - VIC-20"]
	path = Commodore - VIC-20
	url = https://github.com/libretro-thumbnails/Commodore_-_VIC-20.git
[submodule "Commodore - Plus-4"]
	path = Commodore - Plus-4
	url = https://github.com/libretro-thumbnails/Commodore_-_Plus-4.git
[submodule "Commodore - 64"]
	path = Commodore - 64
	url = https://github.com/libretro-thumbnails/Commodore_-_64.git
[submodule "Coleco - ColecoVision"]
	path = Coleco - ColecoVision
	url = https://github.com/libretro-thumbnails/Coleco_-_ColecoVision.git
[submodule "Cave Story"]
	path = Cave Story
	url = https://github.com/libretro-thumbnails/Cave_Story.git
[submodule "Casio - PV-1000"]
	path = Casio - PV-1000
	url = https://github.com/libretro-thumbnails/Casio_-_PV-1000.git
[submodule "Casio - Loopy"]
	path = Casio - Loopy
	url = https://github.com/libretro-thumbnails/Casio_-_Loopy.git
[submodule "Bomberman Game Clone"]
	path = Bomberman Game Clone
	url = https://github.com/libretro-thumbnails/Bomberman_Game_Clone.git
[submodule "Bandai - WonderSwan"]
	path = Bandai - WonderSwan
	url = https://github.com/libretro-thumbnails/Bandai_-_WonderSwan.git
[submodule "Sega - PICO"]
	path = Sega - PICO
	url = https://github.com/libretro-thumbnails/Sega_-_PICO.git
[submodule "Sega - Mega-CD - Sega CD"]
	path = Sega - Mega-CD - Sega CD
	url = https://github.com/libretro-thumbnails/Sega_-_Mega-CD_-_Sega_CD.git
[submodule "Sega - Mega Drive - Genesis"]
	path = Sega - Mega Drive - Genesis
	url = https://github.com/libretro-thumbnails/Sega_-_Mega_Drive_-_Genesis.git
[submodule "Sega - Master System - Mark III"]
	path = Sega - Master System - Mark III
	url = https://github.com/libretro-thumbnails/Sega_-_Master_System_-_Mark_III.git
[submodule "Sega - Game Gear"]
	path = Sega - Game Gear
	url = https://github.com/libretro-thumbnails/Sega_-_Game_Gear.git
[submodule "Sega - Dreamcast"]
	path = Sega - Dreamcast
	url = https://github.com/libretro-thumbnails/Sega_-_Dreamcast.git
[submodule "Sega - 32X"]
	path = Sega - 32X
	url = https://github.com/libretro-thumbnails/Sega_-_32X.git
[submodule "ScummVM"]
	path = ScummVM
	url = https://github.com/libretro-thumbnails/ScummVM.git
[submodule "SNK - Neo Geo"]
	path = SNK - Neo Geo
	url = https://github.com/libretro-thumbnails/SNK_-_Neo_Geo.git
[submodule "SNK - Neo Geo Pocket"]
	path = SNK - Neo Geo Pocket
	url = https://github.com/libretro-thumbnails/SNK_-_Neo_Geo_Pocket.git
[submodule "SNK - Neo Geo Pocket Color"]
	path = SNK - Neo Geo Pocket Color
	url = https://github.com/libretro-thumbnails/SNK_-_Neo_Geo_Pocket_Color.git
[submodule "SNK - Neo Geo CD"]
	path = SNK - Neo Geo CD
	url = https://github.com/libretro-thumbnails/SNK_-_Neo_Geo_CD.git
[submodule "RCA - Studio II"]
	path = RCA - Studio II
	url = https://github.com/libretro-thumbnails/RCA_-_Studio_II.git
[submodule "Bandai - WonderSwan Color"]
	path = Bandai - WonderSwan Color
	url = https://github.com/libretro-thumbnails/Bandai_-_WonderSwan_Color.git
[submodule "Atari - 2600"]
	path = Atari - 2600
	url = https://github.com/libretro-thumbnails/Atari_-_2600.git
[submodule "Atari - 5200"]
	path = Atari - 5200
	url = https://github.com/libretro-thumbnails/Atari_-_5200.git
[submodule "Atari - 7800"]
	path = Atari - 7800
	url = https://github.com/libretro-thumbnails/Atari_-_7800.git
[submodule "Atari - Jaguar"]
	path = Atari - Jaguar
	url = https://github.com/libretro-thumbnails/Atari_-_Jaguar.git
[submodule "Atari - ST"]
	path = Atari - ST
	url = https://github.com/libretro-thumbnails/Atari_-_ST.git
[submodule "Lutro"]
	path = Lutro
	url = https://github.com/libretro-thumbnails/Lutro.git
[submodule "Magnavox - Odyssey2"]
	path = Magnavox - Odyssey2
	url = https://github.com/libretro-thumbnails/Magnavox_-_Odyssey2.git
[submodule "Microsoft - MSX"]
	path = Microsoft - MSX
	url = https://github.com/libretro-thumbnails/Microsoft_-_MSX.git
[submodule "Microsoft - MSX2"]
	path = Microsoft - MSX2
	url = https://github.com/libretro-thumbnails/Microsoft_-_MSX2.git
[submodule "Microsoft - Xbox"]
	path = Microsoft - Xbox
	url = https://github.com/libretro-thumbnails/Microsoft_-_Xbox.git
[submodule "Microsoft - Xbox 360"]
	path = Microsoft - Xbox 360
	url = https://github.com/libretro-thumbnails/Microsoft_-_Xbox_360.git
[submodule "NEC - PC Engine - TurboGrafx 16"]
	path = NEC - PC Engine - TurboGrafx 16
	url = https://github.com/libretro-thumbnails/NEC_-_PC_Engine_-_TurboGrafx_16.git
[submodule "NEC - PC Engine CD - TurboGrafx-CD"]
	path = NEC - PC Engine CD - TurboGrafx-CD
	url = https://github.com/libretro-thumbnails/NEC_-_PC_Engine_CD_-_TurboGrafx-CD.git
[submodule "NEC - PC Engine SuperGrafx"]
	path = NEC - PC Engine SuperGrafx
	url = https://github.com/libretro-thumbnails/NEC_-_PC_Engine_SuperGrafx.git
[submodule "NEC - PC-FX"]
	path = NEC - PC-FX
	url = https://github.com/libretro-thumbnails/NEC_-_PC-FX.git
[submodule "Nintendo - Family Computer Disk System"]
	path = Nintendo - Family Computer Disk System
	url = https://github.com/libretro-thumbnails/Nintendo_-_Family_Computer_Disk_System.git
[submodule "Nintendo - Game Boy"]
	path = Nintendo - Game Boy
	url = https://github.com/libretro-thumbnails/Nintendo_-_Game_Boy.git
[submodule "Nintendo - Game Boy Advance"]
	path = Nintendo - Game Boy Advance
	url = https://github.com/libretro-thumbnails/Nintendo_-_Game_Boy_Advance.git
[submodule "Nintendo - Game Boy Color"]
	path = Nintendo - Game Boy Color
	url = https://github.com/libretro-thumbnails/Nintendo_-_Game_Boy_Color.git
[submodule "Nintendo - GameCube"]
	path = Nintendo - GameCube
	url = https://github.com/libretro-thumbnails/Nintendo_-_GameCube.git
[submodule "Nintendo - Nintendo 3DS"]
	path = Nintendo - Nintendo 3DS
	url = https://github.com/libretro-thumbnails/Nintendo_-_Nintendo_3DS.git
[submodule "Nintendo - Nintendo 64"]
	path = Nintendo - Nintendo 64
	url = https://github.com/libretro-thumbnails/Nintendo_-_Nintendo_64.git
[submodule "Nintendo - Nintendo 64DD"]
	path = Nintendo - Nintendo 64DD
	url = https://github.com/libretro-thumbnails/Nintendo_-_Nintendo_64DD.git
[submodule "Nintendo - Nintendo DS"]
	path = Nintendo - Nintendo DS
	url = https://github.com/libretro-thumbnails/Nintendo_-_Nintendo_DS.git
[submodule "Nintendo - Nintendo DSi"]
	path = Nintendo - Nintendo DSi
	url = https://github.com/libretro-thumbnails/Nintendo_-_Nintendo_DSi.git
[submodule "Nintendo - Nintendo Entertainment System"]
	path = Nintendo - Nintendo Entertainment System
	url = https://github.com/libretro-thumbnails/Nintendo_-_Nintendo_Entertainment_System.git
[submodule "Nintendo - Pokemon Mini"]
	path = Nintendo - Pokemon Mini
	url = https://github.com/libretro-thumbnails/Nintendo_-_Pokemon_Mini.git
[submodule "Nintendo - Satellaview"]
	path = Nintendo - Satellaview
	url = https://github.com/libretro-thumbnails/Nintendo_-_Satellaview.git
[submodule "Nintendo - Sufami Turbo"]
	path = Nintendo - Sufami Turbo
	url = https://github.com/libretro-thumbnails/Nintendo_-_Sufami_Turbo.git
[submodule "Nintendo - Super Nintendo Entertainment System"]
	path = Nintendo - Super Nintendo Entertainment System
	url = https://github.com/libretro-thumbnails/Nintendo_-_Super_Nintendo_Entertainment_System.git
[submodule "Nintendo - Virtual Boy"]
	path = Nintendo - Virtual Boy
	url = https://github.com/libretro-thumbnails/Nintendo_-_Virtual_Boy.git
[submodule "Nintendo - Wii"]
	path = Nintendo - Wii
	url = https://github.com/libretro-thumbnails/Nintendo_-_Wii.git
[submodule "Nintendo - Wii U"]
	path = Nintendo - Wii U
	url = https://github.com/libretro-thumbnails/Nintendo_-_Wii_U.git
[submodule "Philips - Videopac+"]
	path = Philips - Videopac+
	url = https://github.com/libretro-thumbnails/Philips_-_Videopac.git
[submodule "Quake1"]
	path = Quake1
	url = https://github.com/libretro-thumbnails/Quake1.git
[submodule "Sega - Saturn"]
	path = Sega - Saturn
	url = https://github.com/libretro-thumbnails/Sega_-_Saturn.git
[submodule "Sega - SG-1000"]
	path = Sega - SG-1000
	url = https://github.com/libretro-thumbnails/Sega_-_SG-1000.git
[submodule "Sinclair - ZX 81"]
	path = Sinclair - ZX 81
	url = https://github.com/libretro-thumbnails/Sinclair_-_ZX_81.git
[submodule "Sinclair - ZX Spectrum"]
	path = Sinclair - ZX Spectrum
	url = https://github.com/libretro-thumbnails/Sinclair_-_ZX_Spectrum.git
[submodule "Sony - PlayStation"]
	path = Sony - PlayStation
	url = https://github.com/libretro-thumbnails/Sony_-_PlayStation.git
[submodule "Sony - PlayStation 2"]
	path = Sony - PlayStation 2
	url = https://github.com/libretro-thumbnails/Sony_-_PlayStation_2.git
[submodule "Sony - PlayStation 3"]
	path = Sony - PlayStation 3
	url = https://github.com/libretro-thumbnails/Sony_-_PlayStation_3.git
[submodule "Sony - PlayStation 3 (Downloadable)"]
	path = Sony - PlayStation 3 (Downloadable)
	url = https://github.com/libretro-thumbnails/Sony_-_PlayStation_3_Downloadable.git
[submodule "Sony - PlayStation 4"]
	path = Sony - PlayStation 4
	url = https://github.com/libretro-thumbnails/Sony_-_PlayStation_4.git
[submodule "Sony - PlayStation Portable"]
	path = Sony - PlayStation Portable
	url = https://github.com/libretro-thumbnails/Sony_-_PlayStation_Portable.git
[submodule "Sony - PlayStation Vita"]
	path = Sony - PlayStation Vita
	url = https://github.com/libretro-thumbnails/Sony_-_PlayStation_Portable_Vita.git
[submodule "The 3DO Company - 3DO"]
	path = The 3DO Company - 3DO
	url = https://github.com/libretro-thumbnails/The_3DO_Company_-_3DO.git
[submodule "Tiger - Game.com"]
	path = Tiger - Game.com
	url = https://github.com/libretro-thumbnails/Tiger_-_Game.com.git
[submodule "Tomb Raider"]
	path = Tomb Raider
	url = https://github.com/libretro-thumbnails/Tomb_Raider.git
[submodule "VTech - CreatiVision"]
	path = VTech - CreatiVision
	url = https://github.com/libretro-thumbnails/VTech_-_CreatiVision.git
[submodule "VTech - V.Smile"]
	path = VTech - V.Smile
	url = https://github.com/libretro-thumbnails/VTech_-_V.Smile.git
[submodule "Watara - Supervision"]
	path = Watara - Supervision
	url = https://github.com/libretro-thumbnails/Watara_-_Supervision.git
[submodule "ChaiLove"]
	path = ChaiLove
	url = https://github.com/libretro-thumbnails/ChaiLove.git
[submodule "Rick Dangerous"]
	path = Rick Dangerous
	url = https://github.com/libretro-thumbnails/Rick_Dangerous.git
[submodule "LeapFrog - Leapster Learning Game System"]
	path = LeapFrog - Leapster Learning Game System
	url = https://github.com/libretro-thumbnails/LeapFrog_-_Leapster_Learning_Game_System.git
[submodule "RPG Maker"]
	path = RPG Maker
	url = https://github.com/libretro-thumbnails/RPG_Maker.git
[submodule "Nintendo - Nintendo 3DS (DLC)"]
	path = Nintendo - Nintendo 3DS (DLC)
	url = https://github.com/libretro-thumbnails/Nintendo_-_Nintendo_3DS_DLC.git
